<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <!-- mode strings: SR (Flex) or MRXP -->
    <add key="modeSR" value="SII" />
    <add key="modeMrxp" value="MRXP" />
    <add key="modeSwitchFeature" value="true" />
    <add key="orionServerFeature" value="true" />
    <add key="overlayFeature" value="true" />
    
    <!-- registry keys -->
    <add key="registryPathCurrentInjector" value="SOFTWARE\MEDRAD\Injector"/>
    <add key="registryKeyCurrentInjector" value="CurrentInjector"/>
    <add key="registryPathDistros" value="SOFTWARE\MEDRAD\Distros"/>
    <add key="registryKeyDistrosSII" value="DN-219155"/>
    <add key="registryKeyDistrosSIIValue" value="SII"/>
    <add key="registryKeyDistrosMrxp" value="DN-231021"/>
    <add key="registryKeyDistrosMrxpValue" value="MRXP"/>

    <!-- Certegra binary stuff -->
    <add key="certegraDirectory" value="C:\MEDRAD\CERTEGRA\BIN\"/>
    <add key="certegraSystemRootServiceExe" value="Certegra.SystemRoot.Service.exe"/>
    <add key="certegraInjectorAdapterAppConfig" value="Certegra.InjectorAdapter.Service.exe.config"/>
    <add key="certegraDbSchemaExporter" value="Certegra.Tools.DbSchemaExporter.exe"/>
    <!-- Certegra source stuff -->

    <add key="certegraSourceDirectory" value="C:\Source\BRD_GxP_distro_Orion"/>
    <add key="certegraSourceMakeDirectory" value="C:\Source\BRD_GxP_distro_Orion\make"/>
    <add key="certegraSourceBuildScript" value=""/>

    <!-- MRXP -->
    <add key="mrxpSimulatorDirectory" value="C:\Source\BRD_GxP_POC_Orion\MRXperion\WCRU.SimulatorDEBUG"/>
    <add key="mrxpMiscDirectory" value="C:\Source\BRD_GxP_POC_Orion\MRXperion\MRXperionMiscellaneous"/>
    <add key="mrxpBuildSimDebug" value="InformaticsWCRUSimulatorBuildDebug.bat"/>

    <add key="mrxpStartSimDebug" value="Dev_InformaticsWCRUStart.bat"/>
    <add key="mrxpStopSimDebug" value="Dev_InformaticsWCRUStop.bat"/>
    
    <!-- Overlay -->
    <add key="overlayRisSimulatorFolder" value="C:\Source\BRD_GxP_POC_Orion\DCMTK_RIS_Simulator"/>
    <add key="overlayRisSimulatorPurge" value="_PURGE_MWL_RECORDS.bat"/>
    <add key="overlayRisSimulatorCreate" value="_GENERATE_MWL_RECORDS.bat"/>
    <add key="overlayRisSimulatorStart" value="_RUN_DCMTK_RIS.bat"/>
    <add key="overlayStartNodeJsAndNgServe" value="cmd /k &quot;&quot;C:\Program Files\nodejs\nodevars.bat&quot; &amp;&amp; cd \Source\BRD_GxP_Overlay &amp;&amp; ng serve -o --port=OVERLAY_PORT_VAL&quot;"/>
    <add key="overlaySourceDirectory" value="c:\Source\BRD_GxP_Overlay"/>
    <add key="overlayUiManagerStart" value="ui-manager.bat"/>

    <add key="orionSourceDirectory" value="c:\Source\BRD_GxP_Orion"/>
    <add key="orionApiStart" value="cmd /k &quot;&quot;C:\Program Files\nodejs\nodevars.bat&quot; &amp;&amp; cd \Source\BRD_GxP_Orion\orion-api &amp;&amp; npm start&quot;"/>
    <add key="orionUiStart" value="cmd /k &quot;&quot;C:\Program Files\nodejs\nodevars.bat&quot; &amp;&amp; cd \Source\BRD_GxP_Orion\orion-ui &amp;&amp; ng serve -o --port=PORT_VAL&quot;"/>
  </appSettings>
</configuration>
